<div class="container">
  <div class="col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3">
    <div class="row">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.email_field :email, autofocus: true, class: "form-control",
                                  value: 'test@example.com' %>
      </div>

      <div class="field form-group">
        <%= f.password_field :password, autocomplete: "off", class: "form-control",
                                        value: 'password' %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="field form-group">
        <%= f.check_box :remember_me, class: "checkbox-inline" %>
        <%= f.label :remember_me %>
      </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-primary'%>
      </div>
      <% end %>
    </div>
  </div>
</div>
