<!DOCTYPE html>
<html>
  <head>
    <title>RachioRunner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body id="<%= controller_name + "-" + action_name %>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flash' %>
    <%= yield %>
  </body>
</html>
